body{
	background-color: #dfe4e8;
	font-size: 16px;
	padding: 15px;
}

.bigTextBox{
	resize: both;
	overflow: auto;
	height: 100px;
	width: 300px;
}

.labelfor-BigText{
	vertical-align: top;
}

#NotesEstimates *{
	vertical-align: top;
}

label{
	margin-right: 4px;
}

fieldset{
	margin-bottom: 24px;
	background-color: #fff;
	border-left: 5px solid rgb(180,180,180);
	padding: 5px;
}

fieldset section:first-of-type{
	border-top: none;
}

fieldset section{
	/*border-top: 2px solid rgb(180,180,180);*/
	width: auto;
	padding: 2em;
}

#saveAll{
	margin-top: 15px;
}

h2{
	font-size: 1.3em;
	text-decoration: underline;
	margin-bottom: .6em;
}

